MONGO_URI=mongodb+srv://admin:koushik@cluster0.fuarjk1.mongodb.net/?appName=Cluster0
JWT_SECRET=a8f5f167f44f4964e6c998dee827110c
GEMINI_API_KEY=AIzaSyAcDGs5UbwgUruch14EZfVKDoT8x6_zsQs
EMAIL_USER=koushiknageshwar111@gmail.com
EMAIL_PASS=sunrises1244
PORT=5000
